.sorting_options{
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 100px;
}

.sorting_options > *{
    margin-right: 40px;
}

.dropdown_brand:hover{ 
    background-color: #9ec965;
}

.sorting_options > .number_sorting > input{
    border: 0;
    border-radius: 5px;
    background-color: #f0f0f0;
    height: 30px;
    width: 80px;
    margin-right: 10px;
}

.search_input{ 
    margin-left: auto;
    margin-right: 50px;
    border: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

.catalog_item{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-wrap: wrap;
}

.items_list{
    margin-top: 30px;
}

.view_more{
    align-items: center;
}

.juicer_item{
    margin-bottom: 30px;
    padding: 20px;
    width: 20rem;
    text-align: center;
    transition: 0.3s;
}

.juicer_item:hover{
    transition: 0.3s;
    transform: rotate(360deg);
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
